.dropzones {
  position: relative;
  top: 25%;
  text-align: center;
  /* color: #eae8eb; */
  font-weight: normal;
  font-size: 12px;
  font-family: sans-serif;
}

/*
.container h1 {
  font-size: 5rem;
}

.container p {
  font-size: 1.4rem;
} */


.btn {
  /* background-color: #dadfe0; */
  font-family: sans-serif;
  bottom: 25%;
  text-align: center;
  color: black;
  font-size: 50px;
  /* padding: 10px 24px; */
}

.warning {
  text-align: center;
}
