.backButton {
  color: #dadfe0;
  position: absolute;
}

.backButton:hover {
  color: white;
}

body {
  overflow-y: scroll !important;
}

.tabs {
  /* color: #dadfe0; */
  text-align: center;
}
.unselected {
  background-color: #dadfe0;
  color: black;
  font-size: 14px;
  padding: 10px 24px;
  border: 2px solid #dadfe0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 0;
}

.selected {
  background-color: #5a858c;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 24px;
  border: 2px solid #dadfe0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 0;
}

.unselected:hover {
  background-color: #dadfe0;
  color: black;
}

.iframe {
  max-height: 70vh;
  text-align: inherit;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15vh;
}

.overlay {
  text-align: center;
  margin: 10px;
}

.overlayImg {
  max-height: 55vh;
}

.centered {
  text-align: center;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button:disabled {
  background-color: #eee !important;
}

input {
  padding: 5px;
  border-radius: 3px;
  border: none;
}
